<div class="container mt-5">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 card mb-3">
      <img
        src="https://images.unsplash.com/photo-1459372537964-e38c57a5e86f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
        class="card-img-top"
        alt="old harley"
      />
      <div class="card-body">
        <h5 class="card-title">Old harley</h5>
        <p class="card-text">
          {{history}}
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
