<div class="container mt-5">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="/motorcycle.jpg" alt="motorcycle" class="card-img-top" />
      <div class="col" class="card-body">
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat vitae leo in
          auctor. Cras a neque tellus. Aenean sed aliquam nisl. Nam id lorem a lorem tincidunt
          accumsan. Nullam sed metus egestas, auctor dui nec, vehicula neque. Fusce malesuada
          nunc ut ante interdum dapibus. Vestibulum semper libero in nibh consectetur, id
          suscipit purus ullamcorper. Aenean lacinia velit a ullamcorper bibendum.
        </p>
      </div>
    </div>
    <div class="col" class="card" style="width: 18rem;">
      <img
        src="https://images.unsplash.com/photo-1558981285-6f0c94958bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=750&q=80"
        alt="motorcycle"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat vitae leo in
          auctor. Cras a neque tellus. Aenean sed aliquam nisl. Nam id lorem a lorem tincidunt
          accumsan. Nullam sed metus egestas, auctor dui nec, vehicula neque. Fusce malesuada
          nunc ut ante interdum dapibus. Vestibulum semper libero in nibh consectetur, id
          suscipit purus ullamcorper. Aenean lacinia velit a ullamcorper bibendum.
        </p>
      </div>
    </div>
    <div class="col" class="card" style="width: 18rem;">
      <img
        src="https://images.unsplash.com/photo-1558980664-10e7170b5df9?ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80"
        alt="motorcycle"
        class="card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat vitae leo in
          auctor. Cras a neque tellus. Aenean sed aliquam nisl. Nam id lorem a lorem tincidunt
          accumsan. Nullam sed metus egestas, auctor dui nec, vehicula neque. Fusce malesuada
          nunc ut ante interdum dapibus. Vestibulum semper libero in nibh consectetur, id
          suscipit purus ullamcorper. Aenean lacinia velit a ullamcorper bibendum.
        </p>
      </div>
    </div>
  </div>
</div>
